matplotlib==3.10.1
numpy==2.2.4
pandas==2.2.3
pytest==8.3.5
scikit_learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
torch==2.6.0
tqdm==4.67.1
xgboost==3.0.0


google-cloud-aiplatform>=1.38.0
google-cloud-storage>=2.0.0
google-api-core
